/* =========================================================================
   =slider
   ========================================================================= */
#ps-carousel {
width: 100%;
height: 200px;
margin: 20px auto;
}

#ps-slides {
  z-index: 2;
  margin: auto;
  overflow:hidden;
  /* fix ie overflow issue */
  position:relative;
  width:95%;
  height:170px;
}

/* remove the list styles, width : item width * total items */  
#ps-slides ul {
  position:relative;
  top:0;
  left:30px;
  list-style:none;
  margin:0;
  padding:0;  
  width:154%;      
}

/* width of the item, in this case I put 250x250x gif */
#ps-slides li {
  width:250px;
  height:150px; 
  float:left;
  margin-left: 15px;
  margin-bottom:20px;
}

#ps-slides li img {
  padding:5px;
  opacity: 0.5;
}

 #ps-slides li img:hover {
    transition: all 800ms;
    opacity: 1;
    cursor:pointer;
  }

.person {

}

/* Styling for prev and next buttons */
#ps-buttons {
  z-index: 1;
  position:absolute;
  left:0;
  top:120px;
  margin: auto; 
  width:100%; 
}

#ps-buttons a {
  font-size:52px;
  color:lightgrey;
  display:block; 
  width:31px; 
  height:32px;
  outline:0;
}

a#ps-prev {
  float:left;
}

a#ps-prev:hover {

}

a#ps-next {
  float:right; 
}

a#ps-next:hover {
}

#ps-team-detail {
  position:relative;
  height: 500px;
}

.detail {
 position:absolute; 
 top:200;
 width:100%;
}
